$base_color: #3b3b3b;
$top_color: #918f89;
$header_color: #b2b2b2;
$cwhite: #ffffff;
$cblack: #707070;
$furniture_text: #ffffff;
$furniture_color: #000000;
$furinitutre_shadow: #000000e0;
$regular_font: Noto Sans;

.wrapper {
  overflow: hidden;
}
.header-left {
  margin-top: 16px;
  margin-left: 96px;
  object-fit: fill;
  width: 38px;
  height: 24px;
}
.header-right {
  display: flex;
  justify-content: space-between;
  margin-left: 787px;
  margin-right: 96px;

  & a {
    text-decoration: none;
    font-size: 16px;
  }
  & ul {
    & li {
      display: inline;
    }
  }
}

.header-home {
  color: $base_color;
}
.header-news {
  color: $header_color;
}
.header-recruit {
  color: $header_color;
}
.header-contact {
  color: $header_color;
}
.top-container {
  background-image: url("quelcode_task01/home_top/home_top.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 744px;
  position: relative;
  margin-bottom: 80px;

  & h1 {
    position: absolute;
    top: 274px;
    background-color: $cwhite;
    font-size: 53px;
    font-family: $regular_font;
    color: $top_color;
    opacity: 0.8;
    padding: 32px 32px 32px 88px;
  }
}

.proposal {
  position: relative;
  padding-top: 240px;
  padding-left: 704px;
  height: 560px;
  background-image: url("quelcode_task01/concept/concept.png");
  background-position-x: 88px;
  background-repeat: no-repeat;
  background-size: 560px 560px;

  & h2 {
    padding-bottom: 71px;
    font-family: $regular_font;
    font-size: 25px;
    letter-spacing: 2.5px;
    color: $base_color;
  }
  & p {
    font-size: 12px;
    font-family: $regular_font;
    letter-spacing: 0.36px;
    color: $base_color;
  }
}

.news {
  margin: 0 auto 240px auto;
  text-align: center;
  & h2 {
    margin-bottom: 48px;
    font-family: $regular_font;
    font-size: 23px;
    letter-spacing: 2.5px;
    color: $base_color;
  }
  & a {
    text-decoration: none;
    padding-top: 40px;
  }
}

.furnitures {
  display: flex;
  text-align: center;
  justify-content: space-around;

  & h3 {
    width: 1280px;
    height: 480px;
    clear: both;
    letter-spacing: 1.05px;
    color: $base_color;
    font-size: 18px;
    font-family: $regular_font;
  }
  & p {
    position:absolute;
    left:0;
    right:0;
    font-family: $regular_font;
    font-size: 17px;
    margin-top: 144px;
    text-shadow: 0px 0px 6px #000000e0;
    color: $furniture_text;
  }
}
.furniture1 {
  position: relative;
  width: 320px;
  height: 320px;
  background-image: url("quelcode_task01/news01/news01.png");
  background-size: 320px 320px;

  &::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    background-color: $furniture_color;
    opacity: 0.6;
  }
}
.furniture2 {
  position: relative;
  width: 320px;
  height: 320px;
  background-image: url("quelcode_task01/news02/news02.png");
  background-size: 320px 320px;
  &::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    background-color: $furniture_color;
    opacity: 0.6;
  }
}
.furniture3 {
  position: relative;
  width: 320px;
  height: 320px;
  background-image: url("quelcode_task01/news03/news03.png");
  background-size: 320px 320px;
  &::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    background-color: $furniture_color;
    background-size: 320px;
    opacity: 0.6;
  }
  
}

.catalog-container {
  text-align: center;
  margin-bottom: 240px;
  & h2 {
    color: $base_color;
    font-size: 24px;
    font-family: $regular_font;
    margin-bottom: 48px;
  }
  & p {
    font-size: 15px;
    color: $base_color;
    margin-bottom: 40px;
  }
  & a {
    display: inline-block;
    width: 342px;
    padding: 19px 0;
    text-align: center;
    border: 1px solid;
    border-radius: 40px;
    text-decoration: none;
    font-size: 18px;
    color: $cblack;
  }
}

.contact-form {
  text-align: center;
  margin-bottom: 240px;
  & h2 {
    color: $base_color;
    font-size: 24px;
    font-family: $regular_font;
    margin-bottom: 47px;
  }
  & form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

.name {
  border: 1px solid #707070;
  border-radius: 16px;
  opacity: 0.6;
  color: $base_color;
  margin-bottom: 24px;
  padding: 10px 330px 10px 16px;
}
.email {
  border: 1px solid #707070;
  border-radius: 16px;
  opacity: 0.6;
  margin-bottom: 24px;
  padding: 10px 330px 10px 16px;
}
.faq {
  border: 1px solid #707070;
  border-radius: 16px;
  opacity: 0.6;
  margin-bottom: 40px;
  padding: 10px 330px 162px 16px;
}
.send {
  border: 1px solid #707070;
  border-radius: 16px;
  opacity: 0.6;
  padding: 7px 60px 6px 60px;
}
.recruit-container {
  text-align: center;
  margin-bottom: 320px;
}
.recruit-head {
  font-size: 24px;
  color: $base_color;
  margin-bottom: 48px;
}

.recruit-text {
  font-size: 15px;
  color: $base_color;
  margin-bottom: 39px;
}

.recruit-view {
  text-decoration: none;
  font-size: 18px;
  font-size: 15px;
}
ul {
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
  list-style: none;
  & li {
    font-size: 18px;
    letter-spacing: 0;
    color: $cwhite;
    opacity: 1;
  }
}
.footer-container {
  background: $cblack 0% 0% no-repeat;
  padding-top: 120px;
  padding-left: 224px;
  padding-bottom:80px;
  display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-left {
  object-fit: fill;
}
.footer-right {
  margin-left: 479px;
  display: flex;
  justify-content: space-between;
  & li{
    margin-right:32px;

  }
  
}
.footer-contact{
  margin-right:224px;
}
* {
  margin: 0;
}
